DOCKER_NETWORK_PREFIX='server-backup' # Must be the name of the folder
TRAEFIK_ACME_EMAIL='acme@example.org'
TRAEFIK_CF_API_TOKEN='secret'
CLOUDFLARED_TUNNEL_TOKEN='secret'
MINIO_CONSOLE_DOMAIN='minio-console.example.org'
MINIO_S3_DOMAIN='s3.example.org'
MINIO_ROOT_PASSWORD='secret'
